---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import top1_light from "../assets/top1_light.png";
import top1_dark from "../assets/top1_dark.png";
import bottom1_light from "../assets/bottom1_light.png";
import bottom1_dark from "../assets/bottom1_dark.png";
import Separator from "../components/Separator.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .socials p {
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="content">
        <Image class="decoration light-only" src={top1_light} alt="" />
        <Image class="decoration dark-only" src={top1_dark} alt="" />
        <h1 class="page-title">ABOUT ME</h1>
        <div class="page-title"><Separator /></div>
        <p>Welcome to my website!</p>
        <p>
          My name is Daniel Liu, and I'm a Senior at UC Berkeley majoring in
          Computer Science and minoring in Data Science. At school, I'm a member
          of the <a href="https://ocf.io" target="_blank"
            >Open Computing Facility</a
          >.
        </p>
        <p>
          Outside of school, I enjoy hiking, swimming, and table tennis. I play
          way too many games, mostly fps or open world games (1v1 me <a
            href="https://store.steampowered.com/app/2386720/STRAFTAT/"
            >straftat</a
          >). I could also be working on my homelab or rewriting my Linux
          dotfiles again.
        </p>
        <Image class="decoration light-only" src={bottom1_light} alt="" />
        <Image class="decoration dark-only" src={bottom1_dark} alt="" />
      </div>
    </main>
  </body>
</html>
