---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { QUOTES, SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import top0 from "../assets/top0_light.png";
import bottom0 from "../assets/bottom0_light.png";

const quote_index = Math.floor(Math.random() * QUOTES.length);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .quote {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--light-gray);
        padding: 1.4em;
        margin: 1.2em;
        gap: 0.5em;
        min-width: 12vw;
      }

      .quote-author {
        align-self: flex-end;
      }

      .quote-symbol {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="content">
        <Image src={top0} alt="" />
        <h1>DANIEL LIU</h1>
        <div>------</div>
        <div>danielliu@berkeley.edu</div>
        <div>------</div>

        <div class="section">
          <div>CS & DS @ UC Berkeley.</div>
          <div>Graduating Spring 26.</div>
          <div>Prev SWE Intern @ IBM, Amazon, TikTok</div>
        </div>

        <!-- <div class="quote">
          <div class="quote-symbol">"</div>
          {
            QUOTES[quote_index].text.map((line) => <div>{line}</div>)
          }
          {
            QUOTES[quote_index].author && (
              <div class="quote-author">- {QUOTES[quote_index].author}</div>
            )
          }
        </div> -->
        <Image src={bottom0} alt="" />
      </div>
    </main>
  </body>
</html>
