---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

import top1 from "../assets/top1_light.png";
import bottom1 from "../assets/bottom1_light.png";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        width: 100%;
        text-align: left;
        line-height: 1;
      }
      .date {
        color: var(--gray);
      }
      .last-updated-on {
        font-style: italic;
      }
      .content {
        align-items: flex-start;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="content">
          <Image class="decoration" src={top1} alt="" />
          <h1 class="page-title">{title}</h1>
          <div class="page-title">------</div>
          <div class="date">
            <FormattedDate date={pubDate} />
          </div>
          <slot />
          <Image class="decoration" src={bottom1} alt="" />
        </div>
      </article>
    </main>
  </body>
</html>
