---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <h1>{title}</h1>
        <time datetime={pubDate.toISOString()}>
          <FormattedDate date={pubDate} />
        </time>
        <slot />
      </article>
    </main>
  </body>
</html>
